<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalLeakTest.CalLeakConfigs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CalLeakTest.CalLeakConfigs.SqlConString" connectionString="Data Source=wpsqldb21;Initial Catalog=VpdOF;User ID=VpdTest;Password=Vpd@123" />
    </connectionStrings>
    <applicationSettings>
        <CalLeakTest.CalLeakConfigs>
            <setting name="NistModel" serializeAs="String">
                <value>F8473SPL</value>
            </setting>
            <setting name="NistSerial" serializeAs="String">
                <value>TL5001</value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="NistDescription" serializeAs="String">
                <value>Varian -7 Range Helium Leak</value>
            </setting>
            <setting name="NistReportNumber" serializeAs="String">
                <value>290118-17</value>
            </setting>
            <setting name="StationDescription" serializeAs="String">
                <value>Calibrated Leak Calibration Station</value>
            </setting>
            <setting name="StationModelNumber" serializeAs="String">
                <value>1769-It6</value>
            </setting>
            <setting name="StationSerialNumber" serializeAs="String">
                <value>CLSCS-1A</value>
            </setting>
            <setting name="StationReportNumber" serializeAs="String">
                <value>MSR1403002</value>
            </setting>
        </CalLeakTest.CalLeakConfigs>
    </applicationSettings>
</configuration>